.card__link {
  position: relative;
  display: inline-block;
  margin: 30px 0 0 0;
  padding: 0 0 3px 0;
  color: #ed4c5c;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border 1s ease-in;
}

.card__link:hover {
  border-bottom: 1px solid #ed4c5c;
}